:root {    
    --background-button: #f8f9fa;
    --margin-button: 7px;
    --border-color: #dfe1e5;
}

.body {
    font-family: Arial, sans-serif;
}
.header {
    display: flex;
    justify-content: flex-end; /* right to left */
    align-items: center; /* up to bottom */
}

.header-text, .header-img {
    padding: 5px 9px 5px 9px;
    /* padding: up right bottom left */
}

.header-text {
    /*13.6*/
    font-size: 0.85rem;
    /* Medidas relativas
    % porcentaje
    rm tamaño según padre
    rem tamaño según página
    */
}

.header-img img{
    border-radius: 50%;
    height: 32px;
}

/* Main */

.main{}

.main-img img {
    height: 92px;
}

.btn-action {
    height: 37px;
    border: 05px solid var(--background-button);
    border-radius: 5px;
    padding: 0px 12px;
    background-color: var(--background-button);
}

.main-button button:nth-child(1) {
    margin-right: var(--margin-button);
}

.main-button button:nth-child(2) {
    margin-left: var(--margin-button);
}

.btn-action:hover {    
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.main-input {
    padding: 30px 0px;
}

.input-search {
    width: 620px;
    height: 40px;
}

.input-search input {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 24px;
    padding: 21px 10px 21px 45px;
}

.input-search input:focus{
    outline: none;
}

.main-text{
    padding-top: 40px
}

.main-text-short {
    font-size: 0.87rem;
}

.icon-search {
    top: 9px;
    opacity: 0.6;
    left: 36px;    
}

.icon-microphone {
    top: 9px;    
    right: 36px;
}

.icon-microphone, .icon-search {
    height: 25px;
}

/* Utils */

.w-100 {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.relative-position {
    position: relative;
}